* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: rgb(17, 17, 17);
}
main {
    width: 100vw;
    height: 100vh;
    display: flex;                 /* horizontal layout */
}

.palate {
    flex: 1;                       /* equal width */
    height: 100%; 
    padding: 5px;                 /* full height */
}

.palate-1{
    background-color: seagreen;
}
.palate-2{
    background-color: lightcoral;
}
.palate-3{
    background-color: navy;
}
.palate-4{
    background-color: greenyellow;
}
.palate-5{
    background-color: orchid;
}

.copy{
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
}
.generate{
    position: fixed;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: black;
}